* {
border: red 2px solid;

}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f7f5;
}

.name {
  color: #00473e;

}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 48px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
}

.banner {
  
  
}

.social-icon {
  display: flex;
  align-items: center
}

.social-icon a {
  color: #00473e;
  text-decoration: none;
  
}

.link {
  background-color:#f2f7f5;
  display: flex;
  align-items: center;
    
}

.link a {
  color:#475d5b;
  text-decoration: none;
  text-align: center;
  flex-grow: 1
}
